.container {
  position: relative;
}

.container :global(.rect) {
  position: absolute;
  border-radius: 4px;
  background-color: rgb(0, 150, 203);
  opacity: 0.075;
  will-change: opacity;
  transition: opacity 250ms;
}

.container :global(.rect.selected) {
  background-color: rgb(0, 203, 142);
  opacity: 1;
  transition: opacity 0ms;
}
