body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl,
pre,
blockquote,
figure,
fieldset {
  margin-top: 0; }

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  outline: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.no-user-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Code Pro", monospace; }

body {
  font-family: "Source Sans Pro", sans-serif;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  min-width: 1280px; }

header > h1 {
  font-size: 1.4rem; }

[role="button"],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

a {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto; }

.InteractionTracker_container__G9AZT {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
  cursor: pointer;
  pointer-events: all; }

.Highlight_container__2mlUd {
  box-sizing: content-box;
  position: absolute;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
  border: 3px solid #ffffff;
  background-color: transparent;
  border-radius: 3px; }

.Highlight_focusOnly__2hOq7 {
  box-shadow: none;
  border: none;
  border-radius: 0; }

.Highlight_container__2mlUd:focus {
  outline: 0;
  box-shadow: 0 0 1px 3px #5e9ed7;
  border-radius: 0rem; }

.Container_container__2t8pa {
  display: inline-block;
  line-height: 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-bottom: 1rem; }

.ColorPicker_container__3aMzU {
  margin-bottom: 0; }

.ColorPicker_canvas__3YmJq {
  display: block;
  background-color: #e0e0e0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23f70909' fill-opacity='0.84'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E"); }

.Container_container__3Qvx2 {
  display: inline-flex;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border-radius: 0.1875rem;
  padding: 0.1875rem; }

.Container_container__3Qvx2 > button {
  margin-right: 0.1875rem;
  border-radius: 0.1875rem; }
  .Container_container__3Qvx2 > button:last-of-type {
    margin-right: 0; }

.ModalBackdrop_backdrop__25_mo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  outline: 0;
  background-color: #000000;
  will-change: opacity;
  pointer-events: all; }

.ModalHeader_header__3C1di {
  padding: 0.625rem 0.625rem 0.625rem 1rem;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .ModalHeader_header__3C1di h1 {
    font-family: "Source Sans Pro", sans-serif;
    color: #616161;
    margin-bottom: 0; }
  .ModalHeader_header__3C1di h1 + button {
    margin-left: 0.625rem; }
    .ModalHeader_header__3C1di h1 + button svg {
      width: 1.875rem;
      height: 1.875rem; }

.Button_button__2Uqf2 {
  display: inline-block;
  position: relative;
  height: 2.375rem;
  min-width: 2.375rem;
  padding: 0 0.875rem;
  margin: 0;
  border-radius: 0.1875rem;
  flex-shrink: 0;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1;
  will-change: background-color, border-color;
  transition: background-color 150ms, border-color 150ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  background-clip: padding-box;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .Button_button__2Uqf2::-moz-focus-inner {
    border: 0;
    /* Removes dotted line in Firefox */ }

.Button_button__2Uqf2:disabled {
  cursor: not-allowed; }

.Button_button__2Uqf2:focus {
  outline: 0;
  box-shadow: 0 0 1px 3px #5e9ed7;
  border-radius: 0.125rem;
  z-index: 1; }

.Button_button__2Uqf2.Button_small__2TGHF {
  text-transform: uppercase;
  height: 1.75rem;
  padding: 0 0.375rem; }

.Button_button__2Uqf2 svg {
  width: 1.375rem;
  height: 1.375rem;
  position: absolute;
  left: 1.1875rem;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.Button_button__2Uqf2 svg + span {
  padding-left: 1.375rem; }

.Button_button__2Uqf2 {
  color: #000000;
  background-color: #e0e0e0;
  border-color: #e0e0e0; }
  .Button_button__2Uqf2:hover {
    background-color: #d8d8d8;
    border-color: #d8d8d8; }
  .Button_button__2Uqf2:active {
    background-color: #c7c7c7;
    border-color: #c7c7c7; }

.Button_button__2Uqf2.Button_input__1V6Hd {
  color: #000000;
  background-color: #ffffff;
  border-color: #adadad; }
  .Button_button__2Uqf2.Button_input__1V6Hd:active {
    background-color: #c7c7c7;
    border-color: #a0a0a0; }

.Button_button__2Uqf2.Button_transparent__HQeQ3 {
  color: #000000;
  background-color: transparent;
  border-color: transparent; }
  .Button_button__2Uqf2.Button_transparent__HQeQ3:active {
    background-color: #c7c7c7;
    border-color: #c7c7c7; }

.Button_button__2Uqf2.Button_primary__LPPt5 {
  color: #ffffff;
  background-color: #388e3c;
  border-color: #388e3c; }
  .Button_button__2Uqf2.Button_primary__LPPt5:hover {
    background-color: #348337;
    border-color: #348337; }
  .Button_button__2Uqf2.Button_primary__LPPt5:active {
    background-color: #2a692d;
    border-color: #2a692d; }

.Button_button__2Uqf2.Button_dark__3NaRh {
  color: #ffffff;
  background-color: #616161;
  border-color: #616161; }
  .Button_button__2Uqf2.Button_dark__3NaRh:hover {
    background-color: #595959;
    border-color: #595959; }
  .Button_button__2Uqf2.Button_dark__3NaRh:active {
    background-color: #484848;
    border-color: #484848; }

.Button_button__2Uqf2:disabled, .Button_button__2Uqf2:disabled:hover, .Button_button__2Uqf2:disabled:active,
.Button_button__2Uqf2.Button_primary__LPPt5:disabled,
.Button_button__2Uqf2.Button_primary__LPPt5:disabled:hover,
.Button_button__2Uqf2.Button_primary__LPPt5:disabled:active {
  background-color: rgba(224, 224, 224, 0.66);
  border-color: rgba(224, 224, 224, 0.66);
  color: rgba(0, 0, 0, 0.33); }

.Button_button__2Uqf2.Button_input__1V6Hd:disabled, .Button_button__2Uqf2.Button_input__1V6Hd:disabled:hover, .Button_button__2Uqf2.Button_input__1V6Hd:disabled:active {
  background-color: #ffffff;
  border-color: rgba(224, 224, 224, 0.66);
  color: rgba(0, 0, 0, 0.33); }

.Button_button__2Uqf2.Button_transparent__HQeQ3:disabled, .Button_button__2Uqf2.Button_transparent__HQeQ3:disabled:hover, .Button_button__2Uqf2.Button_transparent__HQeQ3:disabled:active {
  background-color: transparent;
  border-color: transparent; }

.ButtonContainer_container__1w4ZY {
  margin-bottom: 1rem; }

.ButtonContainer_container__1w4ZY button {
  margin-right: 1rem; }
  .ButtonContainer_container__1w4ZY button:last-of-type {
    margin-right: 0; }

.ModalContent_container__1oDvA {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column; }

.ModalFooter_footer__2cHya {
  padding: 1rem;
  border-top: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.ModalFooter_footer__2cHya > button,
.ModalFooter_footer__2cHya > input {
  margin-right: 0.5rem; }
  .ModalFooter_footer__2cHya > button:last-child,
  .ModalFooter_footer__2cHya > input:last-child {
    margin-right: 0; }

.ModalDialog_scrollContainer__3XxAM {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto; }

.ModalDialog_positioningContainer__2Sxh2 {
  pointer-events: none;
  position: relative;
  width: auto;
  margin: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - (2.5rem * 1)); }

.ModalDialog_chromeContainer__zPQvP {
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-color: #ffffff;
  background-clip: padding-box;
  outline: 0;
  will-change: opacity, transform;
  -webkit-transform-origin: center;
          transform-origin: center;
  border-radius: 0.1875rem;
  min-width: 50vw;
  max-width: 1000px; }

.PointingModalContainer_container__3ntPt {
  --pointer-position: 50%;
  position: fixed;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-color: #ffffff;
  border-radius: 0.1875rem;
  background-clip: padding-box;
  outline: 0;
  will-change: opacity, transform;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.3));
  padding: 0.5rem; }

.PointingModalContainer_container__3ntPt::after {
  position: absolute;
  content: " ";
  height: 0;
  width: 0;
  border: solid transparent;
  border-width: 12px;
  pointer-events: none; }

.PointingModalContainer_container__3ntPt.left::after {
  right: -12px;
  top: 50%;
  top: var(--pointer-position);
  border-right-width: 0;
  border-left-color: #ffffff;
  margin-top: -12px; }

.PointingModalContainer_container__3ntPt.right::after {
  left: -12px;
  top: 50%;
  top: var(--pointer-position);
  border-left-width: 0;
  border-right-color: #ffffff;
  margin-top: -12px; }

.PointingModalContainer_container__3ntPt.top::after {
  left: 50%;
  left: var(--pointer-position);
  bottom: -12px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
  margin-left: -12px; }

.PointingModalContainer_container__3ntPt.bottom::after {
  left: 50%;
  left: var(--pointer-position);
  top: -12px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
  margin-left: -12px; }

.PaletteColor_container__1iq9V {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 3rem;
  height: 2.25rem;
  transition: background-color 150ms;
  color: #000000; }

.PaletteColor_label__1hSQO {
  display: block;
  align-self: flex-end;
  padding: 0.125rem 0.1875rem;
  margin-right: 0.3125rem;
  background: rgba(255, 255, 255, 0.5);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1;
  border-radius: 0.125rem; }

.PaletteColor_notAvailable__3hjDK {
  background-color: #e0e0e0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23f70909' fill-opacity='0.84'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E"); }
  .PaletteColor_notAvailable__3hjDK .PaletteColor_label__1hSQO {
    display: none; }

.PaletteColor_isTransparency__2KCwF {
  background-color: #e0e0e0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E"); }

.PaletteColorInput_button__3miHQ {
  height: 100%;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 0;
  text-decoration: none;
  overflow: hidden; }
  .PaletteColorInput_button__3miHQ::-moz-focus-inner {
    border: 0;
    /* remove dotted line in Firefox */ }

.PaletteColorInput_button__3miHQ:focus {
  z-index: 1;
  outline: 0;
  box-shadow: 0 0 1px 3px #5e9ed7;
  border-radius: 0rem; }

.PatternTableCanvas_canvas__1Pysb {
  display: block;
  background-color: #eeeeee; }

.HeatMap_container__3AYIx {
  display: flex;
  width: 100%;
  flex-grow: 1; }

.HeatMap_column__3w_a8 {
  display: flex;
  flex-direction: column; }
  .HeatMap_column__3w_a8:first-of-type {
    padding-top: 30px;
    flex-grow: 0; }
  .HeatMap_column__3w_a8:last-of-type {
    flex-grow: 1;
    overflow: hidden; }

.HeatMap_xLabel__1_YO5,
.HeatMap_yLabel__16Xp_ {
  font-size: 12px;
  color: #d0d3db; }

.HeatMap_yAxisContainer__3IuOM {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 8px; }
  .HeatMap_yAxisContainer__3IuOM .HeatMap_yLabel__16Xp_ {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1px; }

.HeatMap_xAxisContainer__3eRje {
  display: flex;
  height: 30px;
  padding-bottom: 4px; }
  .HeatMap_xAxisContainer__3eRje .HeatMap_xLabel__1_YO5 {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end; }

.HeatMap_chartContainer__tAqDg {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  position: relative; }

.HeatMapCanvas_canvas__1VkNo {
  position: relative;
  background-color: transparent;
  will-change: opacity; }

.HeatMapInteractionTracker_container__2Tn67 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.Tooltip_tooltipContainer__10syt {
  position: fixed;
  pointer-events: none;
  will-change: top, left;
  transition: top 0.2s, left 0.2s; }

.Tooltip_tooltip__25Vxs {
  background-color: #20232c;
  color: #28c991;
  position: relative;
  padding: 4px 6px;
  border-radius: 3px;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.5));
  will-change: opacity;
  border: 1px solid #28c991;
  font-size: 12px;
  width: 100%; }

.Tooltip_tooltip__25Vxs p {
  margin: 0;
  padding: 0; }

.Tooltip_tooltipContainer__10syt .Tooltip_tooltip__25Vxs::before,
.Tooltip_tooltipContainer__10syt .Tooltip_tooltip__25Vxs::after {
  position: absolute;
  content: " ";
  height: 0;
  width: 0;
  border: solid transparent;
  border-width: 8px;
  pointer-events: none; }

.Tooltip_tooltipContainer__10syt.left .Tooltip_tooltip__25Vxs::before,
.Tooltip_tooltipContainer__10syt.left .Tooltip_tooltip__25Vxs::after {
  right: -8px;
  border-right-width: 0;
  margin-top: -8px; }

.Tooltip_tooltipContainer__10syt.left .Tooltip_tooltip__25Vxs::before {
  border-left-color: #28c991; }

.Tooltip_tooltipContainer__10syt.left .Tooltip_tooltip__25Vxs::after {
  border-left-color: #20232c;
  -webkit-transform: translateX(1.5px);
          transform: translateX(1.5px); }

.Tooltip_tooltipContainer__10syt.right .Tooltip_tooltip__25Vxs::before,
.Tooltip_tooltipContainer__10syt.right .Tooltip_tooltip__25Vxs::after {
  left: -8px;
  border-left-width: 0;
  margin-top: -8px; }

.Tooltip_tooltipContainer__10syt.right .Tooltip_tooltip__25Vxs::before {
  border-right-color: #28c991; }

.Tooltip_tooltipContainer__10syt.right .Tooltip_tooltip__25Vxs::after {
  border-right-color: #20232c;
  -webkit-transform: translateX(-1.5px);
          transform: translateX(-1.5px); }

.Tooltip_tooltipContainer__10syt.top .Tooltip_tooltip__25Vxs::before,
.Tooltip_tooltipContainer__10syt.top .Tooltip_tooltip__25Vxs::after {
  bottom: -8px;
  border-bottom-width: 0;
  margin-left: -8px; }

.Tooltip_tooltipContainer__10syt.top .Tooltip_tooltip__25Vxs::before {
  border-top-color: #28c991; }

.Tooltip_tooltipContainer__10syt.top .Tooltip_tooltip__25Vxs::after {
  border-top-color: #20232c;
  -webkit-transform: translateY(-1.5px);
          transform: translateY(-1.5px); }

.Tooltip_tooltipContainer__10syt.bottom .Tooltip_tooltip__25Vxs::before,
.Tooltip_tooltipContainer__10syt.bottom .Tooltip_tooltip__25Vxs::after {
  top: -8px;
  border-top-width: 0;
  margin-left: -8px; }

.Tooltip_tooltipContainer__10syt.bottom .Tooltip_tooltip__25Vxs::before {
  border-bottom-color: #28c991; }

.Tooltip_tooltipContainer__10syt.bottom .Tooltip_tooltip__25Vxs::after {
  border-bottom-color: #20232c;
  -webkit-transform: translateY(1.5px);
          transform: translateY(1.5px); }

.Tooltip_tooltipContainer__10syt.top.start .Tooltip_tooltip__25Vxs::before,
.Tooltip_tooltipContainer__10syt.bottom.start .Tooltip_tooltip__25Vxs::before,
.Tooltip_tooltipContainer__10syt.top.start .Tooltip_tooltip__25Vxs::after,
.Tooltip_tooltipContainer__10syt.bottom.start .Tooltip_tooltip__25Vxs::after {
  left: 15px; }

.Tooltip_tooltipContainer__10syt.top.center .Tooltip_tooltip__25Vxs::before,
.Tooltip_tooltipContainer__10syt.bottom.center .Tooltip_tooltip__25Vxs::before,
.Tooltip_tooltipContainer__10syt.top.center .Tooltip_tooltip__25Vxs::after,
.Tooltip_tooltipContainer__10syt.bottom.center .Tooltip_tooltip__25Vxs::after {
  left: 50%; }

.Tooltip_tooltipContainer__10syt.top.end .Tooltip_tooltip__25Vxs::before,
.Tooltip_tooltipContainer__10syt.bottom.end .Tooltip_tooltip__25Vxs::before,
.Tooltip_tooltipContainer__10syt.top.end .Tooltip_tooltip__25Vxs::after,
.Tooltip_tooltipContainer__10syt.bottom.end .Tooltip_tooltip__25Vxs::after {
  right: 3px; }

.Tooltip_tooltipContainer__10syt.left.start .Tooltip_tooltip__25Vxs::before,
.Tooltip_tooltipContainer__10syt.right.start .Tooltip_tooltip__25Vxs::before,
.Tooltip_tooltipContainer__10syt.left.start .Tooltip_tooltip__25Vxs::after,
.Tooltip_tooltipContainer__10syt.right.start .Tooltip_tooltip__25Vxs::after {
  top: 15px; }

.Tooltip_tooltipContainer__10syt.left.center .Tooltip_tooltip__25Vxs::before,
.Tooltip_tooltipContainer__10syt.right.center .Tooltip_tooltip__25Vxs::before,
.Tooltip_tooltipContainer__10syt.left.center .Tooltip_tooltip__25Vxs::after,
.Tooltip_tooltipContainer__10syt.right.center .Tooltip_tooltip__25Vxs::after {
  top: 50%; }

.Tooltip_tooltipContainer__10syt.left.end .Tooltip_tooltip__25Vxs::before,
.Tooltip_tooltipContainer__10syt.right.end .Tooltip_tooltip__25Vxs::before,
.Tooltip_tooltipContainer__10syt.left.end .Tooltip_tooltip__25Vxs::after,
.Tooltip_tooltipContainer__10syt.right.end .Tooltip_tooltip__25Vxs::after {
  bottom: 3px; }

.NetworkGraph_graphContainer__3YLm8 {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1); }

.NetworkGraph_graphContainer__3YLm8 svg line {
  stroke-width: 2px;
  stroke: #0096cb; }

.NetworkGraph_graphContainer__3YLm8 svg circle {
  stroke-width: 1px; }

.NetworkGraph_graphContainer__3YLm8 svg .root circle {
  stroke: #00cb8e;
  fill: #00cb8e; }

.NetworkGraph_graphContainer__3YLm8 svg text {
  font-size: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none; }

.NetworkGraph_graphContainer__3YLm8 svg .root text {
  fill: white; }

.NetworkGraph_graphContainer__3YLm8 svg .market circle {
  stroke: #c5bc30;
  fill: #4f4f2f; }

.NetworkGraph_graphContainer__3YLm8 svg .market text {
  fill: #c5bc30; }

.NetworkGraph_graphContainer__3YLm8 svg .account circle {
  stroke: #0096cb;
  fill: #1f4052; }

.NetworkGraph_graphContainer__3YLm8 svg .account text {
  fill: #0096cb; }

.Dropdown_container__35oi3 {
  display: flex;
  flex-direction: column;
  position: relative; }

.Dropdown_container__35oi3 label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-right: auto; }

.Dropdown_toggleButton__2lbyN {
  text-align: left;
  padding-right: 1.625rem; }

.Dropdown_toggleButton__2lbyN::after {
  position: absolute;
  top: 50%;
  right: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  content: "";
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-bottom: 0;
  border-left: 0.35em solid transparent;
  color: #616161; }

.Dropdown_toggleButton__2lbyN:disabled::after {
  color: #e0e0e0; }

.Dropdown_menuContainer__1V69W {
  z-index: 100;
  margin: 0.3125rem 0; }

.Dropdown_menu__3GK7K {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border-radius: 0.1875rem;
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  max-height: 9.375rem;
  overflow-x: hidden;
  overflow-y: scroll; }

.Dropdown_menu__3GK7K.Dropdown_noScrollbar__29ngq {
  /* firefox 64+ */
  scrollbar-width: none;
  /* ie, edge */
  -ms-overflow-style: none;
  /* chrome, safari */ }
  .Dropdown_menu__3GK7K.Dropdown_noScrollbar__29ngq::-webkit-scrollbar {
    display: none; }

.Dropdown_menu__3GK7K li {
  list-style: none;
  padding: 0.375rem 0.625rem;
  margin: 0;
  cursor: pointer; }

.Dropdown_menu__3GK7K li.Dropdown_highlighted__G7cRA {
  background-color: #eeeeee; }

.Dropdown_menu__3GK7K li.Dropdown_selected__DxNu4 {
  font-weight: bold; }

.TextInput_input__YniFq {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 2.375rem;
  padding: 0 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  vertical-align: middle;
  border: 1px solid #9e9e9e;
  border-radius: 0.1875rem;
  outline: 0;
  background-color: #ffffff;
  line-height: 1.5rem; }

.TextInput_input__YniFq:disabled {
  background-color: #eeeeee;
  border-color: #bdbdbd;
  color: #9e9e9e;
  cursor: not-allowed; }

.TextInput_input__YniFq:focus {
  outline: 0;
  box-shadow: 0 0 1px 3px #5e9ed7;
  border-radius: 0.125rem; }

.Label_label__12USm {
  display: inline-block;
  margin-bottom: 0.5rem;
  flex-shrink: 0; }

.Form_form__1d3rO {
  display: flex;
  flex-direction: column; }

.FieldContainer_container__2ku6h {
  margin-bottom: 1rem; }

.FieldContainer_container__2ku6h > label {
  display: inline-block;
  margin-bottom: 0.5rem; }

.SelectInput_container__1V37G {
  position: relative;
  color: inherit;
  width: 100%; }

.SelectInput_container__1V37G::after {
  content: "\25BE";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0.8125rem;
  color: #424242;
  pointer-events: none; }

.SelectInput_container__1V37G.SelectInput_disabled__1CpH6::after {
  color: #9e9e9e; }

.SelectInput_container__1V37G > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 2.375rem;
  padding: 0.625rem 2rem 0.625rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  vertical-align: middle;
  border: 1px solid #9e9e9e;
  border-radius: 0.1875rem;
  outline: 0;
  background-color: #ffffff;
  line-height: 1.5rem;
  padding-top: 0;
  padding-bottom: 0; }

.SelectInput_container__1V37G > select:disabled {
  background-color: #eeeeee;
  border-color: #bdbdbd;
  cursor: not-allowed; }

.SelectInput_container__1V37G > select:-moz-focusring,
.SelectInput_container__1V37G > select::-moz-focus-inner {
  color: transparent !important;
  text-shadow: 0 0 0 #000 !important;
  background-image: none !important;
  border: 0; }

.SelectInput_container__1V37G > select:focus {
  outline: 0;
  box-shadow: 0 0 1px 3px #5e9ed7;
  border-radius: 0.125rem; }

.RadioInput_input__3pq8Z {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  outline: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.RadioInput_input__3pq8Z + label {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 0.125rem 0.0625rem 0.125rem 1.5625rem;
  line-height: 1; }

.RadioInput_input__3pq8Z + label::before,
.RadioInput_input__3pq8Z + label::after {
  content: "";
  position: absolute;
  left: 0.625rem;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 0.5625rem; }

.RadioInput_input__3pq8Z + label::before {
  height: 1.125rem;
  width: 1.125rem;
  border: 2px solid #424242; }

.RadioInput_input__3pq8Z + label::after {
  height: 0.625rem;
  width: 0.625rem;
  background-color: transparent;
  transition: background-color 0.3s; }

input:checked + label::after {
  background-color: #424242; }

.RadioInput_input__3pq8Z:disabled + label {
  cursor: not-allowed; }

.RadioInput_input__3pq8Z:disabled + label::before {
  border-color: #a2a2a2;
  background-color: #eeeeee; }

.RadioInput_input__3pq8Z:disabled + label::after {
  background-color: #d5d5d5; }

.RadioInput_input__3pq8Z:focus + label {
  outline: 0;
  box-shadow: 0 0 1px 3px #5e9ed7;
  border-radius: 0.125rem; }

.RadioInputGroup_label__Ghptp {
  margin-bottom: 0.5rem; }

.RadioInputGroup_groupContainer__3YqH_ {
  margin-bottom: 1rem; }

.RadioInputGroup_inlineInputsContainer__2UAOq {
  display: inline-block;
  margin-right: 0.5rem; }
  .RadioInputGroup_inlineInputsContainer__2UAOq:last-of-type {
    margin-right: 0; }

.RadioInputGroup_blockInputsContainer__2mPty {
  margin-bottom: 0.5rem; }
  .RadioInputGroup_blockInputsContainer__2mPty:last-of-type {
    margin-bottom: 0; }

.SkipLink_link__NmIjL {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  outline: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }
  .SkipLink_link__NmIjL:active, .SkipLink_link__NmIjL:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    white-space: normal;
    width: auto;
    position: absolute;
    padding: 0.3125rem 0.5rem;
    border-radius: 0.375rem;
    background-color: white;
    z-index: 1000; }


/*# sourceMappingURL=main.css.map*/