@import "styles/_base.scss";

.header {
  padding: 0 $gutter;
  box-shadow: $box-shadow;
  background: $md-grey-100;
  background: linear-gradient(to right, rgb(0, 0, 221), rgb(255, 0, 170));

  background: #f7ff00; /* fallback for old browsers */
  background: linear-gradient(to right, #db36a4, #f7ff00);

  background: #8a2387; /* fallback for old browsers */
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
}

.header h1 {
  font-weight: $font-weight-light;
  font-size: 24px;
  color: transparent;
  padding: 0.7em 0;
  margin: 0;
  position: relative;
  user-select: none;
  cursor: default;
}

.svg {
  width: 350px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.svg text {
  font-size: 30px;
}
