@import "styles/_base.scss";

.link {
  @include screen-reader-only;

  // from: https://gomakethings.com/hidden-content-for-better-a11y/#hiding-the-link
  &:active,
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    white-space: normal;
    width: auto;
    position: absolute;
    padding: rem(5) rem(8);
    border-radius: rem(6);
    background-color: rgba($md-white, 1);
  }
}
