.container {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.column {
  display: flex;
  flex-direction: column;

  &:first-of-type {
    padding-top: 30px;
    flex-grow: 0;
  }

  &:last-of-type {
    flex-grow: 1;
    overflow: hidden;
  }
}

.xLabel,
.yLabel {
  font-size: 12px;
  color: #d0d3db;
}

.yAxisContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 8px;

  .yLabel {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1px;
  }
}

.xAxisContainer {
  display: flex;
  height: 30px;
  padding-bottom: 4px;

  .xLabel {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.chartContainer {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.tooltipContainer {
  // width: 20px;
  // height: 20px;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -100%);
}

.tooltip {
  background-color: red;
  // margin-bottom: 20px;
}
