@import "styles/_base.scss";

// .label {
//   display: inline-block;
//   margin-bottom: rem(10);
// }

.buttonRow {
  display: flex;
  margin-bottom: 1rem;

  & > button {
    margin-left: rem(6);
    flex-grow: 1;
  }

  & > button:first-of-type {
    margin-left: 0;
  }
}

.section h2 {
  font-size: 1rem;
  font-weight: $font-weight-regular;
  padding-bottom: rem(4);
  border-bottom: 1px dashed $md-grey-500;
  text-transform: uppercase;
}

.palette {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;

  & + :not(.palette) {
    margin-top: 1rem;
  }
}

.palette h3 {
  font-size: rem(21);
  font-weight: $font-weight-regular;
  width: 2.25rem;
  margin: 0;
}
