@import "styles/_base.scss";

.container {
  display: flex;
  flex-direction: row;
}

.editorMain {
  border-left: 1px solid $md-grey-300;
  margin-left: $gutter;
  padding: 0 $gutter / 2 $gutter / 4;
  margin-bottom: $gutter / 2;
}
