@import "styles/_base.scss";

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $md-grey-200;
  position: relative;
  overflow: hidden;
  @include transparencyBackgroundPattern;
}

.toolbarRow {
  display: flex;
}

.toolbarRow > .toolbarColumn {
  margin-right: $gutter;

  &:last-of-type {
    margin-right: 0;
  }
}

.toolbarColumn {
  display: flex;
  flex-direction: column;
}
