@import "styles/_base.scss";

.container {
  position: relative;
  cursor: pointer;
  pointer-events: all;
}

.container.palette {
  cursor: grab; // TODO
}

.container.pattern {
  cursor: grab; // TODO
}

.container.pencil {
  cursor: url("/pencil.ico"), pointer; // pointer; // TODO
}

.container.zoomIn {
  cursor: col-resize; // fallback for IE
  cursor: zoom-in;
}

.container.zoomOut {
  cursor: col-resize; // fallback for IE
  cursor: zoom-out;
}

.container.move {
  cursor: grab;
}

.highlightBox {
  position: absolute;
  background: transparent;
  border: 1px dashed rgba($md-white, 0.75);
}

.highlightBox svg {
  width: 60%;
  height: 60%;
  position: absolute;
  right: 5%;
  bottom: 5%;
  color: $md-white;
  background-color: rgba($md-black, 0.33);
  border-radius: 10%;
  padding: 5%;
}
