@import "styles/_base.scss";

.container {
  display: flex;
  margin-bottom: 1rem;

  & > button {
    margin-left: rem(6);
    flex-grow: 1;
  }

  & > button:first-of-type {
    margin-left: 0;
  }
}
