@import "styles/_base.scss";

.container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}

.canvas {
  background-color: $md-grey-200;
  box-shadow: $box-shadow;
}

.tileFocus {
  position: absolute;
  box-shadow: $box-shadow;
}

.tileFocus:focus {
  @include focus-ring(0);
}

// ------------------  //

.tile {
  position: absolute;
  transform-origin: 50% 50%;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
  border: 5px solid $md-white;
  background-color: transparent;
  border-radius: 3px;
  box-sizing: content-box;
  transition: transform 200ms;
  will-change: transform;
}
