// ***** Colors *****

@import "material-colors/dist/colors.scss";
$fallback-focus-ring-color: rgb(94, 158, 215);

$focus-outline: auto 4px $fallback-focus-ring-color;
$webkit-focus-outline: auto 4px -webkit-focus-ring-color;

// TODO box-shadow used as alternative for outline for focus
// will not work in Windows High Contrast mode:
// https://webdesign.tutsplus.com/tutorials/how-to-make-custom-accessible-checkboxes-and-radio-buttons--cms-32074
// outline: 3px solid transparent; /* For Windows high contrast mode */

$box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);

// ***** Typography *****

$font-family-display: "Source Code Pro", monospace;
$font-family-body: "Source Sans Pro", sans-serif;
$font-family-code: $font-family-display;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;

// ***** Layout *****

$gutter: 2.5rem;

// ***** Animation *****

$transition-fast: 150ms;

// ***** Functions *****

// converts pxval to rem unit where 1rem == 16px:
@function rem($pxval) {
  $base: 16;
  @return ($pxval / $base) * 1rem;
}

// ***** Mixins *****

// source: https://gomakethings.com/hidden-content-for-better-a11y/#hiding-the-link
@mixin screen-reader-only() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  outline: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin focus-ring($borderRadius: 2) {
  outline: 0;
  box-shadow: 0 0 1px 3px $fallback-focus-ring-color;
  border-radius: rem($borderRadius);
}

@mixin unavailableColor() {
  background-color: $md-grey-300;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23f70909' fill-opacity='0.84'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

@mixin transparentColor() {
  background-color: $md-grey-300;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}
