// ***** Colors *****

@import "material-colors/dist/colors.scss";
$fallback-focus-ring-color: rgb(94, 158, 215);

$focus-outline: auto 4px $fallback-focus-ring-color;
$webkit-focus-outline: auto 4px -webkit-focus-ring-color;

$box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);

// ***** Typography *****

$font-family-display: "Source Code Pro", monospace;
$font-family-body: "Source Sans Pro", sans-serif;
$font-family-code: $font-family-display;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;

// ***** Layout *****

$gutter: 2.5rem;

// ***** Animation *****

$transition-fast: 150ms;

// ***** Functions *****

// converts pxval to rem unit where 1rem == 16px:
@function rem($pxval) {
  $base: 16;
  @return ($pxval / $base) * 1rem;
}

// ***** Mixins *****

@mixin screenreader-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  outline: none;
}

@mixin focus-ring($borderRadius: 2) {
  outline: none;
  box-shadow: 0 0 1px 3px $fallback-focus-ring-color;
  border-radius: rem($borderRadius);
}
