@import "styles/_base.scss";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.container label {
  display: inline-block;
  margin-bottom: rem(8);
  margin-right: auto;
}

.toggleButton {
  text-align: left;
  padding-right: rem(26);
}

.toggleButton::after {
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  display: inline-block;
  content: "";
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-bottom: 0;
  border-left: 0.35em solid transparent;
  color: $md-grey-700;
}

.toggleButton:disabled::after {
  color: $md-grey-300;
}

.menuContainer {
  z-index: 100;
  margin: rem(5) 0;
}

.menu {
  padding: 0;
  margin: 0;
  background-color: $md-white;
  border-radius: rem(3);
  border-style: solid;
  border-width: 1px;
  border-color: $md-grey-300;
  max-height: rem(30 * 5);
  overflow-x: hidden;
  overflow-y: scroll;
}

.menu.noScrollbar {
  /* firefox 64+ */
  scrollbar-width: none;
  /* ie, edge */
  -ms-overflow-style: none;
  /* chrome, safari */
  &::-webkit-scrollbar {
    display: none;
  }
}

.menu li {
  list-style: none;
  padding: rem(6) rem(10);
  margin: 0;
  cursor: pointer;
}

.menu li.highlighted {
  background-color: $md-grey-200;
}

.menu li.selected {
  font-weight: bold;
}
