@import "styles/_base.scss";

.container {
  display: flex;
  // margin-bottom: 1rem;

  h4 {
    margin-bottom: rem(3);
  }
}

.container > * {
  margin-right: rem(10);

  &:last-child {
    margin-right: 0;
  }
}
