@import "styles/_base.scss";

.highlight {
  position: absolute;
  background: transparent;
  border: 1px dashed rgba($md-white, 0.75);
}

.highlight svg {
  width: 60%;
  height: 60%;
  position: absolute;
  right: 5%;
  bottom: 5%;
  color: $md-white;
  background-color: rgba($md-black, 0.33);
  border-radius: 10%;
  padding: 5%;
}
