@import "styles/_base.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: rem(48);
  height: rem(36);
  transition: background-color $transition-fast;
  color: $md-black;
}

.label {
  display: block;
  align-self: flex-end;
  padding: rem(2) rem(3);
  margin-right: rem(5);
  background: rgba($md-white, 0.5);
  font-size: rem(18);
  font-weight: $font-weight-semibold;
  line-height: 1;
  border-radius: rem(2);
}

.notAvailable {
  @include unavailableColor;

  .label {
    display: none;
  }
}

.isTransparency {
  @include transparentColor;
}
