@import "styles/_base.scss";

.toolbar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;

  & > * {
    margin-right: $gutter / 3;
  }

  & > *:last-child {
    margin-right: 0;
  }
}
