@import "styles/_base.scss";

.section {
  padding: $gutter / 2;
}

.section h2 {
  font-size: rem(20);
}

.section h3 {
  font-size: 1rem;
  font-weight: $font-weight-regular;
  padding-bottom: rem(4);
  border-bottom: 1px dashed $md-grey-500;
  text-transform: uppercase;
}
