@import "styles/_base.scss";

$container-width: rem(26);
$container-height: $container-width;

.container {
  display: flex;
  flex-wrap: wrap;
  width: $container-width * 16;
}

.label {
  display: block;
  position: relative;
  width: $container-width;
  height: $container-height;
  margin: 0;
  cursor: pointer;
}

.label input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 1px;
  height: 1px;
}

.label:hover input:focus {
  outline: 0;
  border: 0px;
}

.label input:focus + * {
  // outline: $focus-outline;
  z-index: 1;
  @include focus-ring(0);
}

// // http://browserhacks.com/#hack-f4ade0540d8e891e8190065f75acb186 for webkit browsers
// .label input:focus + *:not(*:root) {
//   outline: $webkit-focus-outline;
// }
