@import "styles/_base.scss";

.container {
  box-sizing: content-box;
  position: absolute;
  transform-origin: 50% 50%;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.5);
  border: 3px solid $md-white;
  background-color: transparent;
  border-radius: 3px;
  // pointer-events: none;
}

.focusOnly {
  box-shadow: none;
  border: none;
  border-radius: 0;
}

.container:focus {
  @include focus-ring(0);
}
