@import "styles/_base.scss";

.radioGroup {
  margin-bottom: 1rem;
}

.inlineGroup {
  display: inline-block;
  margin-right: rem(8);

  &:last-of-type {
    margin-right: 0;
  }
}

.blockGroup {
  margin-bottom: rem(8);

  &:last-of-type {
    margin-bottom: 0;
  }
}
