@import "styles/_base.scss";

.label {
  margin-bottom: 0.5rem;
}

.groupContainer {
  margin-bottom: 1rem;
}

.inlineInput {
  display: inline-block;
  margin-right: rem(8);

  &:last-of-type {
    margin-right: 0;
  }
}

.blockInput {
  margin-bottom: rem(8);

  &:last-of-type {
    margin-bottom: 0;
  }
}
