.graphContainer {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: transparent;
  border: 1px solid rgba(white, 0.1);
}

.graphContainer svg line {
  stroke: rgb(0, 150, 203);
}

.graphContainer svg circle {
  stroke-width: 1px;
}

.graphContainer svg :global(.node):global(.selected):global(.selected) circle {
  stroke: #00cb8e;
  fill: #00cb8e;
}
.graphContainer svg :global(.node):global(.selected):global(.selected) text {
  fill: white;
}

.graphContainer svg :global(.root) circle {
  stroke: #00cb8e;
  fill: #00cb8e;
}

.graphContainer svg text {
  font-size: 10px;
  user-select: none;
  pointer-events: none;
}

.graphContainer svg :global(.root) text {
  fill: white;
}

.graphContainer svg :global(.market) circle {
  stroke: rgb(197, 188, 48);
  fill: rgb(79, 79, 47);
}

.graphContainer svg :global(.market) text {
  fill: rgb(197, 188, 48);
}

.graphContainer svg :global(.account) circle {
  stroke: rgb(0, 150, 203);
  fill: rgb(31, 64, 82);
}

.graphContainer svg :global(.account) text {
  fill: rgb(0, 150, 203);
}
