@import "styles/_base.scss";

.footer {
  padding: rem(16) 0;
  border-top: 1px solid $md-grey-300;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer > button,
.footer > input {
  margin-right: rem(8);

  &:last-child {
    margin-right: 0;
  }
}
