@import "styles/_base.scss";

$background-color: $md-white;

.container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-color: $background-color;
  border-radius: rem(3);
  background-clip: padding-box;
  outline: 0;
  will-change: opacity, transform;
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.3));
  padding: rem(8);
}
