@import "styles/_base.scss";

$background-color: $md-white;

.container {
  --pointer-position: 50%;

  position: fixed;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-color: $background-color;
  border-radius: rem(3);
  background-clip: padding-box;
  outline: 0;
  will-change: opacity, transform;
  // use filter to ensure ::after pointer is included in the drop shadow:
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.3));
  padding: rem(8);
}

.container::after {
  position: absolute;
  content: " ";
  height: 0;
  width: 0;
  border: solid transparent;
  border-width: 12px;
  pointer-events: none;
}

.container:global(.left)::after {
  right: -12px;
  top: 50%; // fallback
  top: var(--pointer-position);
  border-right-width: 0;
  border-left-color: $background-color;
  margin-top: -12px;
}

.container:global(.right)::after {
  left: -12px;
  top: 50%; // fallback
  top: var(--pointer-position);
  border-left-width: 0;
  border-right-color: $background-color;
  margin-top: -12px;
}

.container:global(.top)::after {
  left: 50%; // fallback
  left: var(--pointer-position);
  bottom: -12px;
  border-bottom-width: 0;
  border-top-color: $background-color;
  margin-left: -12px;
}

.container:global(.bottom)::after {
  left: 50%; // fallback
  left: var(--pointer-position);
  top: -12px;
  border-top-width: 0;
  border-bottom-color: $background-color;
  margin-left: -12px;
}
